﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Mongo</title>

        <!-- Bootstrap -->
        <link href="/content/bootstrap.min.css" rel="stylesheet">
        <link href="/content/bootstrap-theme.min.css" rel="stylesheet">
        <link href="/site.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <div class="header">
                <ul class="nav nav-pills pull-right" role="tablist">
                    <li role="presentation" class="active"><a href="/">Home</a></li>
                    <li role="presentation"><a href="#">About</a></li>
                    <li role="presentation"><a href="#">Contact</a></li>
                </ul>
                <h3 class="text-muted">Mongo</h3>
            </div>
            
            @RenderBody()

            <div class="footer">
                <p>&copy; MongoHW</p>
            </div>

        </div> <!-- /container -->


        <script src="/Scripts/jquery-1.9.0.min.js"></script>
        <script src="/Scripts/bootstrap.min.js"></script>
    </body>
</html>