﻿@model MongoHW.Web.Models.HomeViewModel

<div class="jumbotron">
    <h1>Comments</h1>
    <p class="lead">The comments from Mongo.</p>
    
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Current Comments</h2>
        <table class="table table-striped">
            <tr>
                <th>Email</th>
                <th>Comment</th>
                <th>Date</th>
            </tr>
        @foreach (var comment in Model.Comments)
        {
            <tr>
                <td>@comment.Email</td>
                <td>@comment.CommentText</td>
                <td>@comment.DateCreated.ToShortDateString() @comment.DateCreated.ToShortTimeString()</td>
            </tr>
        }
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Add Comment</h2>

        @using(Html.BeginForm("Index", "Home"))
        {
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(x=>x.NewComment.Email)
                @Html.TextBoxFor(x=>x.NewComment.Email, new {@class="form-control", placeholder="Email"})
                @Html.ValidationMessageFor(x=>x.NewComment.Email)
            </div>
            <div class="form-group">
                @Html.LabelFor(x=>x.NewComment.CommentText)
                @Html.TextAreaFor(x=>x.NewComment.CommentText, new {@class="form-control", placeholder="Comment"})
                @Html.ValidationMessageFor(x=>x.NewComment.CommentText)
            </div>
            <button type="submit" class="btn btn-primary">Create</button>   
        }

    </div>
</div>